:root {
	/* font-family */
	--font-family: "Satoshi", sans-serif;
	--second-family: "IntegralCF Heavy", sans-serif;
	--third-family: "IntegralCF", sans-serif;
	--font3: "Inter", sans-serif;

	/* colors */
	--white: #fff;
	--black: #000;
	--hover-color: #00000099;
	--search-color: #f0f0f0;
	--shadow-color: #00000026;
	--hero-color: #f2f0f1;

	/* transition */
	--transition-time: 0.2s;
}
