.mailing {
	padding-inline: 100px;
	position: relative;
	z-index: 2;
	margin-bottom: -100px;
}

@media (width <= 992px) {
	.mailing {
		margin-bottom: -170px;
	}
}

.mailing__container {
	background-color: var(--black);
	border-radius: 20px;
	min-height: 200px;
	padding-inline: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}

.mailing__title {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 40px;
	line-height: 113%;
	color: var(--white);
	max-width: 689px;
}

.button-mailing-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 349px;
	width: 100%;
	gap: 14px;
}

.mailing-form-wrapper {
	width: 100%;
	min-height: 48px;
	padding-inline: 16px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
	background-color: #fff;
	border-radius: 62px;
}

.email-icon {
	flex-shrink: 0;
	fill: #949393;
}

.send-input {
	flex: 1;
	border: 0;
	background: transparent;
	outline: none;
	font-weight: 400;
	font-size: 16px;
	color: #00000066;
}

.send-button {
	max-width: 349px;
	width: 100%;
	border-radius: 62px;
	padding: 12px 16px;
	height: 46px;
	background-color: var(--white);
	font-weight: 500;
	font-size: 16px;
	color: var(--black);
}
@media (width <= 1125px) {
	.mailing {
		padding-inline: 50px;
	}
	.mailing__title {
		font-size: 30px;
		max-width: 350px;
	}
	.mailing-form-wrapper {
		min-height: 42px;
	}
	.send-button {
		min-height: 42px;
		font-size: 14px;
	}
	.send-input {
		font-size: 14px;
	}
}

@media (width <= 768px) {
	.mailing {
		padding-inline: 16px;
	}

	.mailing__container {
		justify-content: center;
		flex-direction: column;
		padding-top: 32px;
		padding-left: 24px;
		padding-right: 37px;
		padding-bottom: 28px;
		min-height: 293px;
		gap: 28px;
	}
	.mailing__title {
		max-height: 105px;
		line-height: 117%;
	}
}

@media (width <= 576px) {
	.mailing__title {
		font-size: 27px;
	}
}

@media (width <= 380px) {
	.mailing__container {
		justify-content: center;
		flex-direction: column;
		padding-top: 30px;
		padding-left: 22px;
		padding-right: 35px;
		padding-bottom: 26px;
		min-height: 293px;
		gap: 28px;
	}

	.mailing__title {
		font-size: 24px;
	}
}
