.reviews {
	padding-bottom: 80px;
}

.reviews__container {
	padding-bottom: 40px;
	padding-inline: 100px;
	display: flex;
	justify-content: space-between;
}

.reviews__title {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 48px;
	color: #000;
}

.arrow-wrapper {
	display: flex;
	align-items: center;
	gap: 18.5px;
}

@media (any-hover: hover) {
	.arrow-icon:hover {
		color: var(--hover-color);
	}
}

.swiper-container {
	overflow: hidden;
	padding-inline: 100px;
}

.swiper-slide {
	min-height: 240px;
	max-width: 450px;
}

.card {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 28px 32px;
	max-height: 240px;
}

.wrapper-star-reviews {
	gap: 6px;
}

.card-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 110%;
	color: #000;
	padding-bottom: 12px;
	padding-top: 19.5px;
}

.official-icon {
}

.text-card {
	font-weight: 400;
	font-size: 16px;
	line-height: 138%;
	color: #00000099;
}

.reviews__left,
.reviews__right {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (width <= 1440px) {
	.reviews {
		padding-bottom: 50px;
	}
	.card {
		padding: 17px;
		max-height: 186px;
		mix-width: 358px;
		min-height: 200px;
	}
	.card-title {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 16px;
	}
	.text-card {
		font-size: 14px;
		line-height: 143%;
	}
}

@media (width <= 992px) {
	.card {
		padding: 10px;
		min-height: 198px;
	}
	.card-title {
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	.reviews__container {
		padding-inline: 16px;
	}
	.reviews__title {
		font-size: 30px;
		line-height: 1.2;
	}
	.arrow-wrapper {
		flex-shrink: 0;
	}

	.swiper-container {
		padding-inline: 16px;
	}
	.card {
		padding: 24px;
		min-height: 198px;
	}
}
@media (width <= 375px) {
	.card {
		min-height: 205px;
	}
}
